.HomeStart_Style1 {
  height: 450px;
  padding-top: 170px;
  background-image: url(../videos/Cover1.jpeg);
  background-size: cover;
  background-position: center;
}

.HomeStart_Style2 {
  padding-top: 170px;
  height: 450px;
  padding-left: 350px;
  background-size: cover;
  background-position:inherit;
  background-image: url(../videos/Cover2.jpeg);
}

.HomeStart_Style3 {
  padding-top: 170px;
  padding-right: 350px;
  height: 450px;
  background-image: url(../videos/Cover3.jpeg);
  background-size: cover;
  background-position: center;
}

.HomeStart_Style4 {
  height: 450px;
  padding-top: 250px;
  background-image: url(../videos/Cover-4.jpg);
  background-size:cover;
  background-position:inherit;
}

@media screen and (max-width: 650px) {
  .HomeStart_Style1 {
    height: 200px;
    padding-top: 130px;
    padding-right: 0;
    padding-left: 0;
  }
  .HomeStart_Style2 {
    height: 200px;
    padding-top: 130px;
    padding-right: 0;
    padding-left: 0;
  }
  .HomeStart_Style3 {
    height: 200px;
    padding-top: 130px;
    padding-right: 0;
    padding-left: 0;
  }
  .HomeStart_Style4 {
    height: 200px;
    padding-top: 130px;
    padding-right: 0;
    padding-left: 0;
  }
}