.HomeStart_Style1 {
  height: 500px;
  padding-top: 240px;
  background-image: url(../videos/Cover1.jpeg);
  background-size: cover;
  background-position: center;
  color: rgb(255, 36, 54);
  font-weight: bold;
  font-size:60px;
  opacity: 0.9;

}

.HomeStart_Style2 {
  height: 500px;
  padding-left: 490px;
  background-size: cover;
  background-position:inherit;
  color: rgb(247,234,45);
  font-weight: bold;
  font-size:60px;
  opacity: 0.9;
  background-image: url(../videos/Cover2.jpeg);

}

.HomeStart_Style3 {
  height: 500px;
  padding-right: 450px;
  background-image: url(../videos/Cover3.jpeg);
  background-size: cover;
  background-position: center;
  color: rgb(236,225,221);
  font-weight: bold;
  font-size:60px;
  opacity: 0.9;
}

.HomeStart_Style4 {
  height: 500px;
  padding-top: 5px;
  background-image: url(../videos/7.jpg);
  background-size:cover;
  background-position:inherit;
  color:rgb(128, 189, 246);
  font-weight: bold;
  font-size:60px;
  opacity: 0.9;
}

@media screen and (max-width: 650px) {
  .HomeStart_Style1 {
    height: 300px;
    padding-top: 160px;
    padding-right: 0;
    padding-left: 0;
    font-size: 30px;
  }
  .HomeStart_Style2 {
    height: 300px;
    padding-top: 140px;
    padding-right: 0;
    padding-left: 0;
    font-size: 25px;
  }
  .HomeStart_Style3 {
    height: 300px;
    padding-top: 140px;
    padding-right: 0;
    padding-left: 0;
    font-size: 25px;

  }
  .HomeStart_Style4 {
    height: 300px;
    padding-top: 140px;
    padding-right: 0;
    padding-left: 0;
    font-size: 30px;
    color: rgb(214, 251, 225);
  }
}